.whatis {
  text-align: center;
  margin-top: 150px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  color: #4F2841;
}
.personal{
  text-align: center;
  margin-top: 50px;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  color: #4F2841;

}

.guru-text {
  text-align: center;
  width: 50%;
  margin-left: 24%;
  margin-top: 50px;
  padding: 1px;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: #4F2841;
  line-height: 30px;

}

.whatitis {
  width: 100%;
  height: 600px;
  display: block;
  // margin-top: 10px;
  //border: solid 2px black;

  }
