.services {
  width: 100%;
  height: 700px;
  display: block;

}

.how-it-works {
  text-align: center;
  margin-top: 60px;
  font-size: 34px;
  font-family: 'Raleway', sans-serif;
  color: #4F2841;
}

.one {
width:29%;
display: inline-block;
vertical-align: top;
margin-top: 30px;
margin-left: 5%;


}
.two{
  width:29%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  margin-top: 30px;

}
.three {
  width:29%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  margin-top: 30px;

}

.icon {
  width: 130px;
  height: 130px;
  margin-left: 32%;

}
.steps-text{
  font-size: 18px;
  text-align: left;
  color: #4F2841;
  font-family: 'Raleway', sans-serif;
  padding:1px;
  margin-left: 17%;
}
